.carousel-container {
    position: relative;
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
    min-height: 480px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.carousel-item {
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    
    display: flex;
    justify-content: center;
}

.fade-in { opacity: 1; z-index: 2; }
.fade-out { opacity: 0; z-index: 1; }

.carousel-indicators {
    position: absolute;
    bottom: 0px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    padding-bottom: 10px;
}

.indicator {
    height: 10px;
    width: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

.indicator.active {
    background-color: #0056b3;
    transform: scale(1.2);
}